<launch>
  <!-- FLOBOT 3D Object Detector -->
  <node pkg="object3d_detector" type="object3d_detector_ol" name="object3d_detector_ol" output="screen" respawn="false">
    <param name="print_fps" type="bool" value="false"/>
  </node>
  
  <!-- NBellotto's Bayes People Tracker -->
  <rosparam command="load" file="$(find object3d_detector)/config/object3d_detector_ol.yaml"/>
  <node pkg="bayes_people_tracker" type="bayes_people_tracker_ol" name="bayes_people_tracker_ol" output="screen" respawn="false">
    <param name="target_frame" type="string" value="odom"/>
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object3d_detector)/launch/object3d_detector_ol.rviz"/>
</launch>
