<launch>
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find navigator)/config/move_base_params.yaml" command="load" />

      <rosparam file="$(find navigator)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find navigator)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

      <rosparam file="$(find navigator)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find navigator)/config/global_costmap_params.yaml" command="load" />

      <rosparam file="$(find navigator)/config/dwa_local_planner_params.yaml" command="load" />
      <rosparam file="$(find navigator)/config/base_local_planner_params.yaml" command="load" />

      <rosparam file="$(find navigator)/config/global_planner_params.yaml" command="load" />
      <rosparam file="$(find navigator)/config/navfn_global_planner_params.yaml" command="load" />


      <remap from="cmd_vel" to="/aunav_velocity_controller/cmd_vel" />
      <remap from="map" to="/anticrash/processedGrid" />
      <remap from="odom" to="aunav_velocity_feedback/odom_filtered" />
    </node>

    <node type="wheelAdaptativeController" name="wheelAdaptativeController" pkg="navigator" output="screen">
    </node>
  
</launch>
